.DS_Store
node_modules
/build
/.svelte-kit
/package
.env
.env.*
!.env.example
vite.config.js.timestamp-*
vite.config.ts.timestamp-*


src/routes/stores/firebaseConfig.js
flashesbetting-firebase-adminsdk-6scmv-9326bfb126.json
images.csv
data.py
uploader.py
Add2Calendar (1).csv
.firebaserc
.gitignore
.npmrc
public/_app/immutable/chunks/firebaseConfig-5ea37fb5.js
